
<div><h3>Dodaj nowe połączenie:</h3></div> 

<div class="row">
	<div class="col-sm-3"><div>Miasto początkowe</div><select class="form-control" ng-options="city._id as city.name for city in cities" ng-model="from"></select></div>
	<div class="col-sm-3"><div>Miasto końcowe</div><select class="form-control" ng-options="city._id as city.name for city in cities" ng-model="to"></select></div>
	<div class="col-sm-3"><div>Długość połączenia</div><input class="form-control" ng-model="distance"></input></div>
	<div class="col-sm-3"><div>&nbsp;</div><button class="btn btn-primary btn-custom" ng-click="addRoute()">Dodaj</button></div>
</div>


<h3 class="edit-routes">Edytuj istniejące połączenia:</h3>

<div ng-repeat="route in routes" class="row">
	<div class="col-xs-2"><div>Początek</div><h4>{{getCityById(route.source)}}</h4></div>
	<div class="col-xs-2"><div>Koniec</div><h4>{{getCityById(route.destination)}}</h4></div>
	<div class="col-xs-2"><div>Długość połączenia</div><input class="form-control" ng-model="route.distance"></div>
	<div class="col-xs-2"><div>&nbsp;</div><button class="btn btn-default" ng-click="updateRoute(route._id,route.distance)">Update</button></div>
	<div class="col-xs-2"><div>&nbsp;</div><button class="btn btn-default" ng-click="removeRoute(route._id)">Remove</button></div>
</div>
